BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 2
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
ReflowComments: false
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
FixNamespaceComments: true
PointerAlignment: Right